body{
    color: black;
    font-family: papyrus;

}
h2{
    color: chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* Make sure my css sheet goes after their css sheet */
